
.about-section::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}


/* ABOUT US */
.about-us {
    float: left;
    min-height: 1px;
    width: 100%;
}

.about-us .about-section {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center right;
    padding: 0;
    position: relative;
    background-color: #ffff;
}

.about-us .about_container_parapart_one {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    font-size: 20px;
    line-height: 1.7;
    letter-spacing: 0;
}


/* END ABOUT US */

/* CONTACT US */
.mapouter{
    position:relative;
    text-align:right;
    width:1000px;
    height:600px;
}
.gmap_canvas {
    border: 2px solid #000;
    overflow:hidden;
    background:none!important;
    width:1000px;
    height:600px;
}
.gmap_iframe {
    width:1000px!important;
    height:600px!important;
}
.ggmap {
    padding: 10px;
    float:left;
}
.contact_us {
    display: flex;
}
.txt_info {
    font-size: larger;
    max-width: 450px;
    width: 100%;
    margin: 10px;
    padding: 15px;
}
.bt_submit {
    font-size: larger;
    max-width: 480px;
    width: 105%;
    margin: 10px;
    padding: 15px;
}
.get_in_text {
    padding: 10px 20px 0px 20px;
    margin-bottom: 0px;
}
.form_contact {
    margin-right: 140px;
    margin-left: 10px;
}
.h1_ins {
    font-size: 3em;
    text-align: center;
}
.logo_img {
    height: 200px;
    width: 20%;
    margin: 4%;
}
.group_logo {
    display: flex;
}
/* END CONTACT US */