/* SINGLE BLOG */
.part1 {
    display: flex;
}
.img_b1 {
    margin-top: 20px;
    margin-left: 20px;
    flex: 3;
}
.imgblog1 {
    width: 100%;
    max-width: 1200px;
}
.recent {
    flex: 1;
    margin-left: 30px;
}
.recent_content {
    max-width: 400px;
    display: flex;
    flex-direction: column;
}
.smallimg {
    width: 120px;
    height: 80px;
}
.contents {
    display: flex;
    margin-bottom: 10px;
    align-items: center;
}
.recent_para {
    display: block;
    margin-left: 5px;
    width: 200px;
    overflow: hidden;
}
.recent_title {
    font-weight: bolder;
    font-size: larger;
}
.small_content {
    padding-bottom: 16px;
    overflow: hidden;
    height: 32px;
    max-height: 32px;
    opacity: 0.6;
}
.part2 {
    margin-top: 20px;
    margin-left: 60px;
}
.main_blog_headed {
    font-size: 3em;
    font-weight: bolder;
}
.main_blog_headed:hover {
    color: grey;
}
.main_blog_content {
    opacity: 0.6;
    font-size: larger;
}
/* END SINGLE BLOG */

/* WEB SHOP */
.shop {
    padding: 20px;
}

.shop::before,
.shop::after {
    clear: both;
    content: " ";
}

.shop_container {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    display: block;
}

.shop .shop_main_left {
    width: 25%;
}

.shop .shop_main_right {
    width: 75%;
}

.shop .shop_category_tittle {
    position: relative;
}

.shop .shop_category_tittle h2 {
    font-size: 21px;
    margin: 0;
    display: inline-block;
    padding-right: 10px;
    background: #fff;
    text-transform: uppercase;
    color: #363636;
    text-decoration: none;
}

.shop .shop_category_tittle h2::before {
    content: "";
    width: 100%;
    height: 1px;
    background: #ebebeb;
    position: absolute;
    top: 62%;
    margin-top: -2px;
    left: 0;
    z-index: -1;
}

.shop .shop_category_content {
    margin-top: 5px;
}

.shop .shop_category_content ul {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.shop .shop_category_content ul li {
    position: relative;
    clear: left;
    font-size: 1em;
    padding: 5px 0px 5px 15px;
}

.shop .shop_category_content ul li i {
    padding-top: 4px;
    float: left;
}

.shop .shop_category_content ul li a {
    padding: 0 15px;
    display: block;
}

.shop .shop_down_icon {
    position: absolute;
    right: 0;
    top: 4px;
}
/* END WEB SHOP */

/* BLOG */
.shoe{
    display: inline-block;
    margin-bottom: 0;
    width: 100%;
    height: 500px;

}
.h3{
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.grid_item{
    display: flex;
    border: 1px solid #000000;
    float:right;
    min-height: 1px;
    vertical-align: top;
    opacity: 0.5;
}
.blog-info{
    position: inherit;
    transform: translate(0%);
}
.blog-date{
    display: inline-block;
    padding: 0px;
    margin: 0px;
    list-style: none;
    display: inline-block;
    width: 100%;
    padding: 0 0 5px;
    border-bottom: 1px solid #000000;
}
/* END BLOG */